header{
  display: center;
  background-color: blue;
  color: white;
}
.h1{
  display: center;
  text-align: center;
}

button{
  padding: 10px;
  margin: 10px;
  border: 10px;
}

aside {
    width: 30%;
    height: 100vh;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
  }

.mainForecastTitle{
  padding-left: 15%;
  margin-left: 5%;
}

.fivedaycontainer{
display: flex;
align-items: stretch;
justify-content: space-around;
}

#col1,#col2,#col3,#col4,#col5{

  background-color: blue;
  color: white;
}

